@import 'reset';

section {
	width: 80vw;
	border: 1px solid red;
	margin: 100px auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	article {
		background: aqua;
		border: 1px solid black;
		width: 32%;
		height: 300px;
		margin-bottom: 30px;
	}
}
